@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');

body{
    font-family: 'AR One Sans', sans-serif;
    margin: auto;
}
.navigation{
    background-color:#252524 ;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.logo{
    margin: 10px 0 10px 0;
    align-items: center;
    display: flex;
}
.lien-navigation{
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
}
.lettre-logo{
    font-size: 35px;
    color: #F0D00B;
}
nav>a{
    padding-right: 30px;
    text-decoration: none; 
    color: #ffff;
}
nav>a:hover{
    color: #F0D00B;
}
.presentation{
    margin: 60px 0px 0px 0px;
    padding: 50px 0px 60px 0px;
    display: flex;
    justify-content: space-around;
    background-color: #2B2B2B;   
}
.se-presenter>h1{
    color: #ffff;
    font-size: 60px;
}
.se-presenter>p{
    color: #ffff;
    font-size: 25px;
    margin-bottom: 50px;   
}
.button-presentation{
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    padding: 10px 50px 10px 50px;
    border-radius: 4px;
    background-color: #F0D00B;
}
.portrait{
    background-color: #F0D00B;
    width: 350px;
    height: 400px;
    transition: all 0.7s ease-in-out;
}
.portrait:hover{
    border-radius: 15px;
}
.portrait>img{
    width: 300px;
    height: 350px;
    transition: all 0.7s ease-in-out;
    transition-delay: 100ms;
}
.portrait>img:hover{
    cursor: pointer;
    width: 350px;
    height: 400px;
    border-radius: 15px;   
}
.AboutMe{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
}
.AboutMe-section{
    background-color:#303030 ;
}
.AboutMe-Create>img{
    height: 300px;
    filter: opacity(0.2);
}
.AboutMe-Create>h2{
    font-size: 36px;
    color: #ffff;
    position: absolute;
    top: 700px;
    left: 350px;
}
.AboutMe-exacte>p{
    color:#959595;
    max-inline-size: 600px;
}
.span-About{
    border-bottom: 5px #F0D00B solid;  
}
.AboutMe-button{
    margin-top: 50px;
}
.first-AboutMe-button{
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
    background-color: #F0D00B;
    margin-right: 30px;
}
.second-AboutMe-button{
    text-decoration: none;
    color: #F0D00B;
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
    background-color: #2B2B2B;
    border:1px solid #F0D00B;
}
.services-section{
    background-color: #2B2B2B;
    padding: 50px 0px 50px 0px;
}
.services{
    width: 80%;
    margin: 0 auto;
}
.services-prestation{
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 40px 0px;
    
}
.services>h2{
    color: #ffff;
    font-size: 36px;
    text-align: center;
    margin: 0;
}
.span-service{
    border-bottom: 5px #F0D00B solid;
    padding-bottom: 8px;
}
.services>p{
    color:#959595;
    text-align: center;
    margin-top: 50px;
}
.services-1{
    width: 300px;
    height: 250px;
    background-color:#252524 ;
    border: 5px solid;
    border-image: linear-gradient(to right, #f09819, #F0D00B) 1;
  
}
.services-1:hover{
    cursor: pointer;
}
.services-1-titre{
    margin: 20px 0px 30px 20px;
    display: flex;
}
.services-1-titre>i{
    background-color: #ffff;
    padding: 10px;
    border-radius: 50%;
}
.services-1>p{
    font-size: 16px;
    color: #ffff;
    max-inline-size: 260px;
    margin: 0 auto;   
}
.services-1-titre>span{
    font-size: 20px;
    color: #ffff;
    margin-left: 20px ;
    align-self: center;
}
.services-2{
    width: 300px;
    height: 250px;
    background-color:#252524 ;
    border: 5px solid;
    border-image: linear-gradient(to right, #f09819, #F0D00B) 1;
    
}   
.services-2:hover{
    cursor: pointer;
}
.services-2>p{
    font-size: 15px;
    color: #ffff;
    max-inline-size: 260px;
    margin: 0 auto;
}
.services-2-titre{
    margin: 20px 0px 30px 20px;
    display: flex;
}
.services-2-titre>span{
    font-size: 20px;
    color: #ffff;
    margin-left: 20px ;
    align-self: center;   
}
.services-3{
    width: 300px;
    height: 250px;
    background-color:#252524 ;
    border: 5px solid;
    border-image: linear-gradient(to right, #f09819, #F0D00B) 1;
}
.services-3:hover{
    cursor: pointer;
}
.services-2-titre>i{
    background-color: #ffff;
    padding: 11px 16px 11px 16px ;
    border-radius: 50%;
}
.services-3>p{
    font-size: 15px;
    color: #ffff;
    max-inline-size: 260px;
    margin: 0 auto;
}
.services-3-titre{
    margin: 20px 0px 30px 20px;
    display: flex;
}.services-3-titre>i{
    background-color: #ffff;
    padding: 12px;
    border-radius: 50%;
}
.services-3-titre>span{
    font-size: 20px;
    color: #ffff;
    margin-left: 20px ;
    align-self: center;
}
